<?xml version="1.0" ?>
<robot name="boomerang">
	<link name="mainbody-21">
		<visual>
			<geometry>
				<mesh filename="package://boomerang/urdf/mainbody.dae"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<material name="mainbody-21_color">
				<color rgba="1 0.519608 0.533333 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://boomerang/urdf/mainbody.dae"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="19.9939"/>
			<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</inertial>
	</link>
</robot>

